In [1]:
import os, time,json
import tmdbsimple as tmdb 
import pandas as pd
from tqdm.notebook import tqdm_notebook

In [2]:
with open('/Users/siblose/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['api-key'])

In [3]:
tmdb.API_KEY =  login['api-key']
FOLDER = "Project3Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'final_tmdb_data_2019.csv.gz',
 'final_tmdb_data_2020.csv.gz',
 'title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'tmdb_api_results_2019.json',
 'tmdb_api_results_2020.json']

In [4]:
# Load in the dataframe results of each year
year2000df = pd.read_csv('Project3Data/final_tmdb_data_2000.csv.gz')

In [5]:
year2000df.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.450,10.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.101,2369.0,PG

In [6]:
# Load in the dataframe results of each year
year2001df = pd.read_csv('Project3Data/final_tmdb_data_2001.csv.gz')
year2001df.tail()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
1358,tt7797790,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",NaN,956219.0,en,Edmund Kemper Part 3: La mort sévit,...,0.0,72.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,NaN,Edmund Kemper Part 3: La mort sévit,0.0,0.0,0.0,NaN
1359,tt8665056,0.0,NaN,NaN,0.0,"[{'id': 37, 'name': 'Western'}]",http://skeletoncreekproductions.com/p-movie-br...,885436.0,en,Guns Along The Bravo,...,0.0,85.0,[],Released,Evil came to the Southwest until three blazing...,Guns Along The Bravo,0.0,0.0,0.0,NaN
1360,tt8795764,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",https://www.utahwolf.com/films/coming-soon-new...,871624.0,en,New Breed,...,0.0,57.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,New Breed,0.0,0.0,0.0,NR
1361,tt9071078,0.0,/51274Q2vnmajonyiqq3YNQQ7q4I.jpg,NaN,127389.0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",https://movie.douban.com/subject/26420865/,1044371.0,zh,魔忍狂刀,...,0.0,100.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,Dragon Hero,Dragon Hero,0.0,0.0,0.0,NaN
1362,tt9212730,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,382630.0,ja,実録外伝 ゾンビ極道,...,0.0,88.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,Yakuza Zombie,0.0,0.0,0.0,NaN

In [7]:
# concatenating df1 and df2 along rows
finaldf = pd.concat([year2000df, year2001df], axis=0)
finaldf.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.450,10.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.101,2369.0,PG

In [8]:
finaldf.tail()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
1358,tt7797790,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",NaN,956219.0,en,Edmund Kemper Part 3: La mort sévit,...,0.0,72.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,NaN,Edmund Kemper Part 3: La mort sévit,0.0,0.0,0.0,NaN
1359,tt8665056,0.0,NaN,NaN,0.0,"[{'id': 37, 'name': 'Western'}]",http://skeletoncreekproductions.com/p-movie-br...,885436.0,en,Guns Along The Bravo,...,0.0,85.0,[],Released,Evil came to the Southwest until three blazing...,Guns Along The Bravo,0.0,0.0,0.0,NaN
1360,tt8795764,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",https://www.utahwolf.com/films/coming-soon-new...,871624.0,en,New Breed,...,0.0,57.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,New Breed,0.0,0.0,0.0,NR
1361,tt9071078,0.0,/51274Q2vnmajonyiqq3YNQQ7q4I.jpg,NaN,127389.0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",https://movie.douban.com/subject/26420865/,1044371.0,zh,魔忍狂刀,...,0.0,100.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,Dragon Hero,Dragon Hero,0.0,0.0,0.0,NaN
1362,tt9212730,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,382630.0,ja,実録外伝 ゾンビ極道,...,0.0,88.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,Yakuza Zombie,0.0,0.0,0.0,NaN

In [9]:
finaldf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2625 entries, 0 to 1362
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2625 non-null   object
 1   adult                  2623 non-null   float64
 2   backdrop_path          1471 non-null   object
 3   belongs_to_collection  212 non-null    object
 4   budget                 2623 non-null   float64
 5   genres                 2623 non-null   object
 6   homepage               172 non-null    object
 7   id                     2623 non-null   float64
 8   original_language      2623 non-null   object
 9   original_title         2623 non-null   object
 10  overview               2572 non-null   object
 11  popularity             2623 non-null   float64
 12  poster_path            2382 non-null   object
 13  production_companies   2623 non-null   object
 14  production_countries   2623 non-null   object
 15  release_date           2602 non-null   object
 16  revenue                2623 non-null   float64
 17  runtime                2623 non-null   float64
 18  spoken_languages       2623 non-null   object
 19  status                 2623 non-null   object
 20  tagline                1131 non-null   object
 21  title                  2623 non-null   object
 22  video                  2623 non-null   float64
 23  vote_average           2623 non-null   float64
 24  vote_count             2623 non-null   float64
 25  certification          782 non-null    object
dtypes: float64(9), object(17)
memory usage: 553.7+ KB

 light EDA

In [10]:
#How many movies had at least some valid financial information (values > 0 for budget OR revenue)?
rslt_df = finaldf[(finaldf['budget'] > 0) | (finaldf['revenue'] > 0)  ]

In [11]:
rslt_df.shape

(650, 26)

In [12]:
#Answer :there are 650 movies

In [13]:
#How many movies are there in each of the certification categories (G/PG/PG-13/R)?
rslt_df['certification'].value_counts()

R        220
PG-13    123
PG        35
G         16
NR        14
Name: certification, dtype: int64

In [14]:
#What is the average revenue per certification category?
grouped = rslt_df.groupby('certification')
grouped['revenue'].mean()

certification
G        1.109574e+08
NR       5.311700e+06
PG       9.819739e+07
PG-13    9.229870e+07
R        3.175520e+07
Name: revenue, dtype: float64

In [15]:
#What is the average budget per certification category?
grouped = rslt_df.groupby('certification')
grouped['budget'].mean()

certification
G        3.575000e+07
NR       2.259650e+06
PG       4.051421e+07
PG-13    4.240779e+07
R        1.906047e+07
Name: budget, dtype: float64

In [18]:
# save the final results to a compressed csv
finaldf.to_csv('tmdb_results_combined.csv.gz', compression='gzip',index=False)